:root {
  --dark-color: #171a25;
  --dark-semi-color: #222738;
  --dark-color-grey: #9c9c9c;
  --white-color: #fff;
}

body.dark main,
body.dark .mainCard, 
body.dark .mainCard__bottom-container {
  background-color: var(--dark-color);
  color: var(--white-color);
  transition: all 0.4s ease;
}

body.dark .mainCard__bottom-container {
  box-shadow: rgb(17 17 26 / 37%) -1px 3px 16px 4px, rgb(17 17 26 / 5%) 0px 8px 32px;
  border-top: 1px solid var(--dark-semi-color);
}

body.dark .container__task-counter,
body.dark .card,
body.dark .nav__menu {
  background-color: var(--dark-semi-color);
  color: var(--white-color);
  transition: all 0.4s ease;
}

body.dark .fa-solid {
  background-color: var(--white-color);
  border-radius: 100%;
}

body.dark .task-number,
body.dark .task-number__text--completed,
body.dark .nav__menu h1,
body.dark .inputForm,
body.dark .icon {
  color: var(--white-color);
}

body.dark .date,
body.dark .task-number__text,
body.dark .footer__content-copyright p {
  color: var(--dark-color-grey);
}

body.dark .card-active {
  background-color: rgb(var(--main-color), 0.1);
}
