* {
  font-family: poppins, sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 22vh;
  padding: 70px 0;
  background-color: #784ba0;
  background-image: linear-gradient(0deg, #8e46cc 43%, #50198f 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main__container {
  width: 100%;
  height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 18px;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.mainCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 660px;
  /* margin: 0 30px; */
  height: 100%;
  /* border-radius: 10px; */
  background-color: #fff;
  overflow: hidden;
  /* box-shadow: 0 0 14px rgb(26 8 44 / 28%);*/
}

.main__card-add-task {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  width: 100%;
  font-family: "Dosis", sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
}

.title img {
  width: 11rem;
  margin-bottom: 40px;
}

.container__task-counter {
  width: 98%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 25px; */
  /* margin: 0 16px; */
  background-color: #fff;
  box-shadow: rgb(17 17 26 / 10%) -1px 3px 16px, rgb(17 17 26 / 5%) 0px 8px 32px;
  border-radius: 10px;
  padding: 0 20px;
  position: relative;
  top: -30px;
  max-width: 660px;
}

.inputForm {
  border: none;
  padding: 10px;
  border: 1px solid rgb(216, 207, 219);
  background-color: rgb(235, 219, 248);
  border-radius: 5px;
  outline: none;
  width: 65%;
  font-size: 0.9rem;
  font-weight: 500;
  margin-right: 10px;
}

.inputForm::placeholder {
  color: #1307168f;
  padding: 0px;
}

.btnCreate {
  width: 126px;
  height: 43px;
  background-image: linear-gradient(
    160deg,
    rgba(229, 87, 149, 1) 11.2%,
    rgba(84, 100, 188, 1) 100.2%
  );
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.cardsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow: auto;
  overflow-x: hidden;
  height: 74%;
}

.cardsList::-webkit-scrollbar {
  width: 0;
}

.cardsList::-webkit-scrollbar-track {
  background: rgb(190, 179, 233);
}

.cardsList::-webkit-scrollbar-thumb {
  border-radius: 14px;
  background: rgb(164, 80, 233);
}

.card {
  width: 98%;
  padding: 20px;
  /* box-shadow: 3px 2px 3px 3px rgb(57 49 62 / 8%); */
  box-shadow: rgb(17 17 26 / 10%) -1px 3px 16px, rgb(17 17 26 / 5%) 0px 8px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0px;
  /* border: 1px solid rgb(216, 207, 219); */
  border-radius: 10px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.65, 0.8, 0.25, 1);
  animation: translate 0.35s cubic-bezier(0.25, 0.8, 0.25, 1.55);
}

@keyframes translate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.task {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 6px;
}

.content__task {
  display: flex;
  align-items: center;
}

.content__task-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 12px;
}

.date {
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: rgba(90, 62, 110, 0.548);
}

.task__list {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
}

.task__list-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-number,
.task-number__text--completed,
.task-number__text {
  font-size: 12px;
  font-weight: 600;
  color: rgba(90, 62, 110, 0.548);
  transition: all 0.3s ease-in-out;
}

.task-number__text:hover,
.task-number__text--completed:hover {
  color: rgba(83, 67, 95, 0.863);
  cursor: pointer;
}

.task-number__text:hover .task-number__text--completed {
  color: rgba(83, 67, 95, 0.863);
}

.task__left,
.task__completed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.task-number,
.task-number__text--completed {
  margin: 4px;
  font-size: 22px;
  color: rgb(82, 73, 92);
}

.icon {
  cursor: pointer;
  font-size: 22px;
  transition: all 0.3s;
  text-decoration: none;
  color: rgb(82, 73, 92);
}

.completeIcon {
  color: rgba(62, 161, 219, 1);
}

.trashIcon:hover {
  color: rgba(84, 100, 188, 1);
}

.fa-regular {
  transition: all 0.6s;
}

.fa-regular .fa-solid {
  transform: scale(0);
}

.fa-solid {
  border: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-image: linear-gradient(
    rgba(229, 87, 149, 1) 11.2%,
    rgba(84, 100, 188, 1) 100.2%
  );
  transform: scale(1.14);
  transition: all 0.4s ease-in-out;
}

.fa-trash:hover {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    rgba(229, 87, 149, 1) 11.2%,
    rgba(84, 100, 188, 1) 100.2%
  );
  transform: scale(1.12);
}

.card-active {
  background-color: rgb(235, 219, 248);
}

.card-active .task {
  text-decoration: line-through;
}

.deleteConfirmationPop {
  position: relative;
  background-color: rgba(255, 255, 255);
  z-index: 99;
  width: 100%;
  top: -100px;
  left: 0;
}
.deleteSpace {
  position: relative;
  width: 30%;
}

.delete-animation {
  transform: translateX(100%);
}

.noTasks {
  font-size: 48px;
}
