:root {
  --main-color: 113, 20, 167;
  --white-color: #fff;
}

* {
  font-family: poppins, sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 22vh;
  padding: 90px 18px;
  background-image: linear-gradient(
    0deg,
    rgba(var(--main-color), 0.7),
    rgba(var(--main-color), 1)
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  background-color: var(--white-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main__container {
  width: 100%;
  height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 18px;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.mainCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 660px;
  height: 100%;
  background-color: var(--white-color);
  overflow: hidden;
}

.main__card-add-task {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  width: 100%;
  font-family: "Dosis", sans-serif;
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 650px;
}

.title img {
  width: 10rem;
}

.container__task-counter {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  box-shadow: rgb(17 17 26 / 10%) -1px 3px 16px, rgb(17 17 26 / 5%) 0px 8px 32px;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  top: -36px;
  max-width: 648px;
}

.inputForm {
  border: none;
  padding: 10px;
  box-shadow: rgb(17 17 26 / 10%) -1px 3px 16px, rgb(17 17 26 / 5%) 0px 8px 32px;
  height: 46px;
  background-color: rgba(var(--main-color), 0.15);
  border: 1px solid rgba(var(--main-color), 0.15);
  border-radius: 7px;
  outline: none;
  color: rgb(var(--main-color));
  width: 90%;
  font-size: 0.9rem;
  font-weight: 500;
  margin-right: 10px;
}

.inputForm::placeholder {
  color: rgb(var(--main-color), 0.6);
  padding: 0px;
}

.inputForm:focus {
  border: 2px solid #8d46cc;
}

.btnCreate {
  width: 46px;
  height: 46px;
  background-image: linear-gradient(
    0deg,
    rgba(var(--main-color), 0.7),
    rgba(var(--main-color), 1)
  );
  border: none;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
}

.btnCreate:hover {
  opacity: 0.8;
}

.cardsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow: auto;
  overflow-x: hidden;
  height: 74%;
}

.cardsList::-webkit-scrollbar {
  width: 0;
}

.cardsList::-webkit-scrollbar-track {
  background: rgb(190, 179, 233);
}

.cardsList::-webkit-scrollbar-thumb {
  border-radius: 14px;
  background: rgb(164, 80, 233);
}

.card {
  width: 98%;
  padding: 20px;
  box-shadow: rgb(17 17 26 / 10%) -1px 3px 16px, rgb(17 17 26 / 5%) 0px 8px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0px;
  border-radius: 10px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.65, 0.8, 0.25, 1);
  animation: translate 0.35s cubic-bezier(0.25, 0.8, 0.25, 1.55);
}

@keyframes translate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.task {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 6px;
}

.content__task {
  display: flex;
  align-items: center;
}

.content__task-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 12px;
}

.date {
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: rgba(90, 62, 110, 0.548);
}

.task__list {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
}

.task__list-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-number,
.task-number__text--completed,
.task-number__text {
  font-size: 12px;
  font-weight: 600;
  color: rgba(90, 62, 110, 0.548);
  transition: all 0.3s ease-in-out;
}

.task-number__text:hover,
.task-number__text--completed:hover {
  color: rgba(83, 67, 95, 0.863);
  cursor: pointer;
}

.task-number__text:hover .task-number__text--completed {
  color: rgba(83, 67, 95, 0.863);
}

.task__left,
.task__completed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.task-number,
.task-number__text--completed {
  margin: 4px;
  font-size: 22px;
  color: rgb(82, 73, 92);
}

.icon {
  cursor: pointer;
  font-size: 24px;
  transition: all 0.3s;
  text-decoration: none;
  color: rgb(82, 73, 92);
}

.completeIcon {
  color: rgba(62, 161, 219, 1);
}

.trashIcon:hover {
  color: rgba(84, 100, 188, 1);
}

.fa-regular {
  transition: all 0.6s;
}

.fa-regular .fa-solid {
  transform: scale(0);
}

.fa-solid {
  border: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    0deg,
    rgba(var(--main-color), 0.7),
    rgba(var(--main-color), 1)
  );

  transform: scale(1.14);
  transition: all 0.4s ease-in-out;
}

.fa-palette {
  background-image: none;
  background-color: var(--white-color);
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* .fa-palette:hover {
  background-color: rgba(var(--main-color), 0.4);
} */

.fa-xmark {
  background-color: rgba;
  background-image: none;
  background-color: rgb(82, 73, 92);
}

.fa-check {
  background-image: none;
  background-color: #fff;
  font-size: 1.1rem;
}

.fa-circle-check:hover {
  background-image: none;
  background-color: rgb(var(--main-color), 0.15);
  border-radius: 50%;
}

.card-active {
  background-color: rgb(var(--main-color), 0.15);
}

.card-active .task {
  text-decoration: line-through;
}

.deleteConfirmationPop {
  position: relative;
  background-color: rgba(255, 255, 255);
  z-index: 99;
  width: 100%;
  top: -100px;
  left: 0;
}
.deleteSpace {
  position: relative;
  width: 30%;
}

.delete-animation {
  transform: translateX(100%);
}

.noTasks {
  font-size: 48px;
}
